/* =========================
   EXTRA LARGE PORTFOLIO SIZE
========================= */

body {
    font-size: 20px;
}

/* NAVBAR */

.navbar {
    padding: 28px 10%;
}

.logo {
    font-size: 38px;
}

.nav-links {
    gap: 32px;
}

.nav-links a {
    font-size: 19px;
}


/* HERO */

.hero {
    min-height: 100vh;
    padding: 120px 12%;
    gap: 110px;
}

.welcome {
    font-size: 18px;
}

.hero h1 {
    font-size: 105px;
}

.hero h2 {
    font-size: 38px;
}

.hero-description {
    max-width: 750px;
    font-size: 23px;
}

.primary-btn,
.secondary-btn {
    padding: 20px 35px;
    font-size: 20px;
}


/* HERO CODE CARD */

.hero-card {
    padding: 60px;
    min-width: 550px;
}

.code-title {
    font-size: 21px;
}

.code-line {
    font-size: 20px;
    padding: 15px 0;
}


/* ALL SECTIONS */

.section {
    padding: 150px 12%;
}

.section-heading h2 {
    font-size: 58px;
}

.section-heading p {
    font-size: 20px;
}


/* ABOUT */

.about-text h3 {
    font-size: 42px;
}

.about-text p {
    font-size: 22px;
}

.education-box {
    padding: 55px;
}

.education-box h3 {
    font-size: 32px;
}

.education-box p {
    font-size: 21px;
}


/* SKILLS */

.skill-box {
    padding: 50px;
}

.skill-box h3 {
    font-size: 32px;
}

.skill-box p {
    font-size: 21px;
}


/* INTERNSHIP */

.timeline-content {
    padding: 45px;
}

.timeline-content h3 {
    font-size: 32px;
}

.timeline-content p {
    font-size: 21px;
}


/* CERTIFICATES */

.certificate-box {
    padding: 50px;
}

.certificate-box h3 {
    font-size: 30px;
}

.certificate-box p {
    font-size: 21px;
}


/* ACHIEVEMENTS */

.achievement-box {
    padding: 55px;
}

.achievement-box h3 {
    font-size: 34px;
}

.achievement-box p {
    font-size: 21px;
}


/* CONTACT */

.contact-section {
    padding: 160px 12%;
}

.contact-section h2 {
    font-size: 68px;
}

.contact-description {
    font-size: 22px;
}

.contact-btn {
    padding: 20px 35px;
    font-size: 20px;
}


/* MOBILE */

@media (max-width: 1100px) {

    .hero h1 {
        font-size: 75px;
    }

    .hero-card {
        min-width: auto;
    }
}

@media (max-width: 600px) {

    .hero h1 {
        font-size: 50px;
    }

    .hero h2 {
        font-size: 25px;
    }

    .hero-description {
        font-size: 18px;
    }
}
